<form action="/addbook" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title"><br><br>
  <label for="price">Price:</label>
  <input type="number" min='0' id="price" name="price"><br><br>
  <label for="categoryName">Category:</label>
  <input type="text" id="categoryName" name="categoryName"><br><br>
  <label for="authors">Authors:</label>
  <input type="text" id="authours" name="authors"><br><br>
  <input type="submit" value="Submit">
</form>